body{
 background: #faf2d3 ;
}
.c01{
    text-decoration-line: none;
    color: #3085c3;
    direction: rtl;
    /* text-align: center; */
    margin: 0vh;
    padding: 0vh;
}
h1{
    text-align: center;
}
#dlel1{
    background: greenyellow;
    /* text-align: center; */
}
#bokk1{
    background-image: url(dsBuffer.bmp.png);
    background-repeat: no-repeat;
    background-size: 135px 135px;
}
.k1{
    display: inline;
}
.k2{
    max-width: 5px;
    max-height: 5px;
    border-radius: 5px;
}

.k3{
  border: 1px solid;
  padding: 0px;
  border-radius: 5px;
  /* transition: all 0.5s; */
  max-width: 6px;
  max-height: 5.5px;
  

}
.k4{
    display: inline;
    padding-left: 100px; 
    
}

